# This workflow builds and releases a binary

name: Release new version

on:
  push:
    tags: [ "*" ]
permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.25.4'
      - name: Test
        run: make test
      - name: Build
        run: make svlogj
      - name: archive
        run: tar cvzf svlogj.tar.gz
      - name: Create Release & Upload svlogj.tar.gz
        uses: softprops/action-gh-release@v2
        with:
          files: svlogj.tar.gz
